<ngx-extended-pdf-viewer
  [src]="src()"
  [height]="'100%'"
  zoom="page-width"
  [showOpenFileButton]="false"
  [showDownloadButton]="true"
  [showPrintButton]="true"
  [showPresentationModeButton]="false"
  [showPropertiesButton]="false"
  [showSidebarButton]="true"
  [showFindButton]="true"
  [showPagingButtons]="true"
  [showZoomButtons]="true"
  [showRotateButton]="true"
  [showHandToolButton]="true"
  [showTextEditor]="true"
  [showDrawEditor]="true"
  [showHighlightEditor]="true"
  [showStampEditor]="true"
  [showSignatureEditor]="true"
/>