<ng-template #customToolbar>
  <app-pdf-toolbar
    [page]="page()"
    [pageCount]="pageCount()"
    [activeTool]="activeTool()"
    [canUndo]="canUndo()"
    [canRedo]="canRedo()"
    [searchVisible]="searchVisible()"
    [searchQuery]="searchQuery()"
    [searchCurrent]="searchCurrent()"
    [searchTotal]="searchTotal()"

    (previousPage)="previousPage()"
    (nextPage)="nextPage()"

    (zoomOut)="zoomOut()"
    (zoomIn)="zoomIn()"
    (fitPageWidth)="fitPageWidth()"

    (selectTool)="selectTool($event)"

    (toggleSidebar)="toggleSidebar()"

    (undo)="undo()"
    (redo)="redo()"

    (openSearch)="openSearch()"
    (closeSearch)="closeSearch()"

    (searchQueryChange)="
      onSearchQueryChange($event)
    "

    (searchNext)="searchNext()"
    (searchPrevious)="searchPrevious()"

    (moreAction)="
      handleMoreAction($event)
    "
  />
</ng-template>

<div
  class="pdf-workspace__viewer"
  appPdfInkOverlay
  [documentKey]="documentKey()"
  [inkTool]="inkTool()"
  [inkRotation]="rotation()"
>
  <ngx-extended-pdf-viewer
    [src]="src()"
    [height]="'100%'"

    [zoom]="zoom()"
    [page]="page()"

    [textLayer]="true"

    [customToolbar]="
      customToolbar
    "

    [language]="
      translation.language() === 'ar'
        ? 'ar'
        : 'en-US'
    "

    [showOpenFileButton]="false"
    [showFindButton]="false"

    [replaceBrowserPrint]="true"

    [(sidebarVisible)]="
      sidebarVisible
    "

    [activeSidebarView]="
      sidebarView
    "

    [(rotation)]="
      rotation
    "

    (pdfLoaded)="
      onPdfLoaded()
    "

    (pageChange)="
      onPageChange($event)
    "

    (pagesLoaded)="
      pageCount.set(
        $event.pagesCount
      )
    "

    (currentZoomFactor)="
      onCurrentZoomFactorChange(
        $event
      )
    "

    (updateFindMatchesCount)="
      onFindMatchesCount(
        $event
      )
    "
  />
</div>

@if (propertiesVisible()) {
  @if (
    documentProperties();
    as properties
  ) {
    <app-pdf-properties-dialog
      [properties]="
        properties
      "
      (closed)="
        closeDocumentProperties()
      "
    />
  }
}